body {
    margin: 20px 80px;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(54, 53, 67, 255);
}


.container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;


}

.logo {
    width: 125px;
    color: white;
    font-size: 20px;
}

.menu {
    width: 900px;
    /*margin-left: 125px;
    margin-right: 125px;
*/
}

.menu ul {
    list-style: none;

}

.menu li {
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
}

.menu a {
    text-decoration: none;
    color: rgba(124, 123, 139, 255);
}

.menu a:hover {
    color: white;
}

.icon {
    width: 15px;
    height: 15px;
    margin-top: 13px;
    padding-left: 10px;
    padding-right: 10px;
}



.container0 {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: row;
    align-items: flex-start;
    position: relative;


}

.container2 {
    padding-top: 90px;
    /* position: relative;
    z-index: -1; */

}

.container2 p {
    color: white;
    font-size: 80px;
    overflow: hidden;
    white-space: nowrap;
    width: 600px;
    margin-bottom: 20px;

    /* text-overflow:ellipsis; */
    /* width: calc(40vw) !important; */
}

/* .container2 h1 {
    color: white;
    font-size: 110px;

} */

.colo {
    background-color: rgba(225, 177, 51, 255);
    width: 200px;
    height: 3px;
    margin-top: 0px;
    padding-top: 0px!important;

}


.gt {
    width: 400px;
}



.gt2 {
    color: white;
    width: 250px;
    padding-top: 20px;
}

.backcolor {
    background-color: rgba(45, 45, 57, 255);
    border-radius: 50%;
    width: 700px;
    height: 700px;
    position: absolute;
    opacity: 1;
    z-index: -1;
    margin-left: 230px;
}

.c1 {
    width: 700px;
    /* display: block; */
    /* margin-left: auto; */
    /* margin-right: 400px;  */
    position: relative;
    z-index: 0;
    right: 49%;
}

.gt1 {

    padding-top: 103px;
    padding-left: 38px;
    color: white;
    /* left: 68%; */
    /* position: absolute; */

    /* margin-right: 80px; */
    /* white-space: nowrap; */
}

.f {
    font-size: 22.5px;
}

.color2 {
    color: rgba(225, 177, 51, 255);
}
.s1{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    

}
.s2{
    /* padding-right:20px; */
    background-color: #40414f;
    border-radius: 50%;
    width: 30px;
    height: 35px;
    justify-content: center;
    margin-right: 25px;
    
}
.icon2 {
    width: 25px;
    height: 25px;
    margin-top: 5px;
    padding-left: 3px;
    /* padding-right: 10px; */
    /* background-color: transparent; */
   
}
.icon2 img{
    width: 20px;
}
.container3{
    width: 95%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* margin-left: calc(10vw); */
    background-color: #40414f;
    height: calc(15vh);
}
.add{
    width: 225px;
    height: 55px;
    margin-right: 20px;
    margin-top: 25px;
    
}
.other{
    background-color:white;
    height: calc(50vh);
    width:100%;
    /* margin:0px;
    padding: 0px; */
}