body{
    background-color: #363543;
    margin: 20px 50px;
    
}
.container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
}
.logo img{
    width: 125px;
}
.menu{
    width: 900px;
    /*margin-left: 125px;
    margin-right: 125px;
*/}
.menu ul{
    list-style: none;
    
}
.menu li{
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
}
.menu a{
    text-decoration: none;
    color:rgb(85,85,108);
}
.menu a:hover{
    color:white;
}
.icon{
    width:15px;
    height: 15px;
    margin-top: 13px; 
    padding-left: 10px;
    padding-right: 10px;
}
